@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #c52233;
  --details: #9999c3;
  --background: #03012c;
}

.bg-accent {
  background-color: var(--accent);
}

.bg-details {
  background-color: var(--details);
}

.bg-background {
 background-color: var(--background);
}

.text-accent {
  color: var(--accent);
}

.border-accent {
  border-color: var(--accent);
}

.hover:border-accent {
  border-color: var(--accent);
}

.text-details {
  color: var(--details);
}
.border-details {
  border-color: var(--details);
}

.text-background {
  color: var(--background);
}

.border-background {
  border-color: var(--background);
}

.grid-min-max {
  grid-template-columns: repeat(3, minmax(0, 4fr));
  /* background-color: #c52233; */
}

.animation-enter {
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
